.txt-special {
  color: #d9534f;
  font-weight: bold;
}

.txt-highlight {
  color: #3a960e;
  font-weight: bold;
}

.txt-old {
  color: #5e04c4;
  font-weight: bold;
}

.txt-basic {
  color: #c49e04;
  font-weight: bold;
}
