.txt-special {
  color: #d9534f;
  font-weight: bold;
}

.txt-highlight {
  color: #07b05c;
  font-weight: bold;
}

.txt-old {
  color: #990de0;
  font-weight: bold;
}

.txt-basic {
  color: #c49e04;
  font-weight: bold;
}
